:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins, sans-serif";
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.navbar .navbar-logo span {
  color: rgb(47, 83, 188);
  font-style: italic;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0.1rem;
}

.navbar-logo img {
  height: 50px; /* Adjust the height as needed */
  width: auto;
  max-width: 100%;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2 linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0 0, 5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0)
  );
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content h1 {
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1);
  line-height: 1;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1);
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: white;
  background-color: var(--primary);
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 1);
}

.hero .content .cta1 {
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: white;
  background-color: var(--primary);
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 1);
}

.hero .content .cta:hover {
  background-color: white;
  color: black;
}

.hero .content .cta1:hover {
  background-color: white;
  color: black;
}

/* About Section */

.about,
.news,
.menu,
.partner,
.place,
.kontak {
  padding: 0rem 7% 0rem;
}

.about h2,
.news h2,
.menu h2,
.partner h2,
.place h2,
.kontak h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  padding: 7rem 7% 3rem;
}

.about h2 span,
.news h2 span,
.menu h2 span,
.partner h2 span,
.place h2 span,
.kontak h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.news .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}

.news .row .news-img {
  flex: 1 1 30rem;
}
.about .row .about-img img {
  width: 100%;
  height: 24rem;
}

.news .row .news-img img {
  width: 100%;
  height: 50rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.news .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.news .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6rem;
}

.news .row .content p {
  text-align: justify;
}
/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
  margin-top: 5rem;
  border: 5px solid white;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.overlay {
  position: absolute;
  font-size: 2rem;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  font-family: "Poppins, sans-serif";
}

.slideshow-container:hover .overlay {
  opacity: 1;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.popup {
  position: absolute;
  margin-left: 75%;
  margin-top: -7%;
}

.popup .popup-image img {
  width: 250px;
}

.popup-image img:hover {
  transition: 1s;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* Social section */

.social h2 {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.social .social-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 1px 3px 3px rgb(240, 236, 236);
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #d41354;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
/* menu section */

.menu h2,
.partner h2,
.kontak h2 {
  margin-bottom: -3rem;
}

.menu p,
.partner p,
.kontak p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 100;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  margin-top: 5rem;
  justify-content: center;
}

.partner .row {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.partner .row .partner-card img {
  width: 400px;
  height: 100px;
}

.partner .row .partner-card img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.menu .row .menu-card img:hover {
  transition: 1s;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.menu .row .menu-card .menu-card-title {
  margin-top: 1rem auto 0.5rem;
  font-size: 1.5rem;
}

.menu .row .menu-card .menu-card-price {
  font-size: 1.5rem;
}

.menu .row .menu-card .menu-card-co {
  display: inline-block;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: white;
  border-radius: 0.5rem;
}

.menu .row .menu-card .menu-card-co:hover {
  background-color: blue;
  transform: scale(1.1);
  transition: 1s;
}
/* Kontak section */
.kontak .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.kontak .row form {
  flex: 1 1 45rem;
  padding: 2rem 2rem;
  text-align: center;
}

.kontak .row form .input {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  /* background-color: var(--primary); */
  border: 1px solid white;
  padding-left: 2rem;
}

.kontak .row form .input input {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  background: none;
  color: white;
}

.kontak .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: white;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links a {
  color: white;
  margin: 1rem;
}

footer .credit p {
  font-weight: 700;
}
/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 62, 5%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .navbar .navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .menu .row .menu-card .menu-card-price {
    font-size: 2rem;
  }
  .menu .row .menu-card .menu-card-co {
    font-size: 1.7rem;
  }
  .menu p {
    font-size: 1.5rem;
  }

  .partner p {
    font-size: 1.5rem;
  }

  .partner .row .partner-card img {
    width: 200px;
    height: 80px;
  }

  .kontak .row {
    flex-wrap: wrap;
  }

  .kontak .row .map {
    height: 30rem;
  }

  .kontak .row form {
    padding-top: 0;
  }

  .kontak p {
    font-size: 1.5rem;
  }
  .popup {
    display: none;
  }
  .overlay {
    font-size: 1rem;
  }
  .slideshow-container {
    max-width: 80%;
  }
}

/* HP */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .popup {
    display: none;
  }
}
